body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #e6005c;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #e6005c;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #ff4d94;
}

p {
    color: #666;
    margin-top: 20px;
}
